<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Projects</h2>
<!--                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
<!--                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>-->
                        <i class="fa-solid fa-film fa-stack-1x"></i>
                    </span>
                    <h4 class="service-heading">Cinema Tickets App</h4>
                    <p class="text-muted">This is an application that registers ticket orders for cinema. The data entered can be saved on a server as a table in relationsdatabase.It works on H2 console. It uses schema.sql instead of hibernate.<br> The application also has in place an error handling mechanism. The details saved are displayed as a table under the heading 'Alle Billetter'.Finally, the 'Slett alle billettene' button empties deletes all the values being displayed. The surnames are sorted alphabetically on the server side.<br>
                    <b>Created Using:</b> Spring,Javascript, JQuery, Bootstrap, html </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"><a href="https://github.com/jas2908/Calculator"> Calculator</a></h4>
                    <p class="text-muted">This is a hobby project. The calculator can perform multiple calculations in one go using BODMAS principles. It is a simple calculator that can solve brack-ets, add, subtract, multiply and divide. The app is built using java fxml.<br>
                    <b>Created Using:</b> Java</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"><a href="https://github.com/jas2908/NumberGame"> Number Game</a></h4>
                    <p class="text-muted">I developed this project while learning java. The app uses swing. The Math.random () method is used to randomly select a number. The user then has to guess the number. After the user has attempted to guess, he is in-formed whether the number guessed by him was bigger or smaller than the selected number. There are unlimited attempts. If the user is successful in guessing the number right, he gets the option of playing a new round. The player can quit at any stage of the game.<br>
                    <b>Created Using:</b> Java</p>
                </div>
            </div>
        </div>
    </section>